In [1]:
import pandas as pd
import os

In [2]:
PUIdata = os.getenv('PUIDATA')

In [3]:
studata = pd.read_csv(PUIdata + "/IntrotoStats_Table6_1.csv")

In [4]:
studata.head()

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown  Female      Psychology   5'4"                Lots
1          Amber     Blonde  Female  Social Science   5'7"         Very Little
2           Paul     Blonde    Male         History   6'1"            Moderate
3    Christopher      Black    Male         Biology  5'10"                Lots
4          Sonya      Brown  Female      Psychology   5'4"              Little

In [5]:
studata.replace('Female', 1, inplace= True)

In [6]:
studata.replace('Male', 0, inplace = True)

In [7]:
studata.head()

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown       1      Psychology   5'4"                Lots
1          Amber     Blonde       1  Social Science   5'7"         Very Little
2           Paul     Blonde       0         History   6'1"            Moderate
3    Christopher      Black       0         Biology  5'10"                Lots
4          Sonya      Brown       1      Psychology   5'4"              Little

In [ ]:
pd.read_csv(PUIdata + "")